<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BIG SIZE</title>
    <script src="/assets/lib/vue.min.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div id="view" :class="{'ready': ready}">
        <div class="program-info row">
          <div class="title center">
            {{program.title}}
          </div>
          <div class="info">
            {{program.desc}}
          </div>
          <div class="technical">
            {{program.technical}}
          </div>
        </div>
        <div id="code" class="row"></div>
        <div class="row center">
          <button class="button" type="button" name="button" @click="submitCode()">Submit</button>
        </div>
        <div class="scoreboard" v-if="scoreboardOpen">
          <div class="inner">
            <div class="number">
              <div class="blurb">
                Program
              </div>
              <div class="digits">
                <div class="previous">

                </div>
                <div class="current">
                  {{program.number}}
                </div>
                <div class="next">

                </div>
              </div>
            </div>
            <div class="" v-for="(score, index) in scoreboard" >
              {{index + 1}}. {{score.username}} – {{score.time.toFixed(2)}}ms
            </div>
            <div class="close-scoreboard" @click="closeScoreboard()">
              Close
            </div>
          </div>
        </div>
    </div>
    <section id="modal" class="modal">
      <div class="modal-content">
        <h3>Submit Name</h3>
        <ul class="input-list style-1 clearfix">
          <li>
            <input id="name-input" type="text" placeholder="Your name will be used in submission rankings">
          </li>
        </ul>
        <div class="row center">
          <button id="submit-name" class="button" type="button" name="button">Enter</button>
        </div>
      </div>
    </section>
    <div class="error">
      No Problems are currently live.<br><br>Try checking in later.
    </div>
    <div class="show-scoreboard">
      <div class="inner showScore">Show Scoreboard</div>
    </div>
    <script src="/assets/lib/socket.io.min.js"></script>
    <script src="/assets/lib/codemirror/codemirror.js"></script>
    <script src="/assets/lib/codemirror/python.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
  </body>
</html>
