@font-face {
  font-family: 'Bold';
  src: url('/assets/fonts/CircularStd-Bold.otf');
}
@font-face {
  font-family: 'Text';
  src: url('/assets/fonts/CircularStd-Book.otf');
}
button {
  font-family: 'Text';
  letter-spacing: 1px;
}
html,body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
  font-family: 'Text';
}

.row {
  max-width: 30rem;
  margin: 0 auto;
}
.program-info {
  padding: 0px 10px;
}
.title {
  font-size: 2em;
  padding: 1em 0;
  font-weight: bold;
}
.info {
  padding: 1em 0;

}
.technical {
  color: #aaa;
  padding: 1em 0;
}
#code {
  border: 1px solid rgba(0,0,0,0.1);
}
.button {
  padding: 0.4em 1em;
  border-radius: 4em;
  border: none;
  background: #348af5;
  color:white;
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
  outline:none;
  cursor: pointer;
}
.center {
  text-align: center;
}
#view {
  opacity: 0;
  transition: 100ms linear all;
}
#view.ready {
  opacity: 1;
}
.error {
  display: none;
  font-size: 1.4em;
  opacity: 0.8;
  padding: 1em;
  text-align: center;
}

.show-scoreboard {
  text-align: center;
}

.show-scoreboard .inner {
  font-size: 0.6em;
  opacity: 0.8;
  padding: 0.2em 0.2em;
  text-align: center;
  color: blue;
  border-bottom: 2px solid;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2em;
}

.close-scoreboard {
  font-size: 0.6em;
  opacity: 0.8;
  padding: 0.2em 0.2em;
  text-align: center;
  color: blue;
  border-bottom: 2px solid;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2em;
}

.no-question .error {
  display: block;
}

.scoreboard {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(255,255,255,0.99);
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.scoreboard .inner {
  max-width: 44rem;
  padding: 0 1em;
}
.number {
  padding: 1em;
  font-size: 2em;
  text-align: center;
}
.blurb {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8rem;
}
.digits {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.digits .current {
  flex-grow: 1;
}
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  width: 100%;
  max-width: 32rem;
  padding: 2em;
  border: 1px solid #888;
  box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.1);
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 90%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 4px 1px rgba(150, 150, 150, 0.09);
}

ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  min-width: 14rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ion-load-c {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.success {
  text-align: center;
  background: rgba(44, 204, 51, 0.57);
  padding: 0.5em;
  margin: 0 auto;
  max-width: 18rem;
  border-radius: 4px;
}
.success-time {
  font-size: 2em;
}
.failed {
  padding: 0.5em;
  margin: 1em auto;
  max-width: 44rem;
  border-radius: 4px;
  background:rgba(255, 190, 192, 0.78);

}
