html,body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
}
.row {
  max-width: 30rem;
  margin: 0 auto;
}
.program-info {
  padding: 0px 10px;
}
.title {
  font-size: 2em;
  padding: 1em 0;
  font-weight: bold;
}
.info {
  padding: 1em 0;

}
.technical {
  color: #aaa;
  padding: 1em 0;
}
#code {
  border: 1px solid rgba(0,0,0,0.1);
}
.button {
  padding: 0.4em 1em;
  border-radius: 4em;
  border: none;
  background: #348af5;
  color:white;
  margin-top: 1em;
  font-size: 1em;
  font-weight: bold;
  outline:none;
  cursor: pointer;
}
.center {
  text-align: center;
}
#view {
  opacity: 0;
  transition: 100ms linear all;
}
#view.ready {
  opacity: 1;
}
.error {
  display: none;
  font-size: 1.4em;
  opacity: 0.8;
  padding: 1em;
  text-align: center;
}

.show-scoreboard {
  text-align: center;

}

.show-scoreboard .inner {
  font-size: 0.6em;
  opacity: 0.8;
  padding: 0.2em 0.2em;
  text-align: center;
  color: blue;
  border-bottom: 2px solid;
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  margin-top: 2em;
}
.no-question .error {
  display: block;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width:  40%;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 90%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

ul {
  list-style-type: none;
}